* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/T.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-size: 1vw;
}

.button {
    display: flex;
    position: absolute;
    bottom: 5vh;
}

button {
    width: auto;
    height: auto;
}

p {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 15px;
    font-size: 32px;
}

img {
    position: absolute;
    width: auto;
    height: 60vh;
}