* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-size: 1vw;
}

.button {
    display: flex;
    position: absolute;
    bottom: 5vh;
}

button {
    width: auto;
    height: auto;
}

.button p{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 15px;
    font-size: 25px;
}


p {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 15px;
    font-size: 25px;
}

img {
    position: absolute;
    width: auto;
    height: 60vh;
    border-radius: 50px;
}

.modal-body {
    font-size: 1.5em;
}